<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login Page</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script> 
</head>
<body>
	<h1>Login Page</h1>
	<div class="span6" ng-app="tommyAuthApp" ng-controller="MainCtrl">
   
	<p>My name is <em>{{username}}</em></p>
   
	<table class="table table-striped table-condensed table-bordered">
		<tr>
			<th>password</th>
			<th>created at</th>
		</tr>
		<tr ng-repeat="user in users">
			<td>{{user.username}}</td>
			<td>{{user.created_date}}</td>
		</tr>
	</table>
	
	</div>
	<script rel="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
	<script rel="text/javascript" src="bower_components/angular/angular.min.js"></script>
	
</body>
</html>